[Unit]
Description=Intdev TV wall 
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=intdev
Environment=DISPLAY=:0 
ExecStart=/bin/bash /home/intdev/irl-tv-wall/start_vlc.sh

[Install]
WantedBy=multi-user.target
