[Unit]
Description=Intdev TV wall
After=multi-user.target graphical.target
Wants=graphical.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=intdev
Group=video
Environment=DISPLAY=:0
ExecStart=/bin/bash /home/intdev/irl-tv-wall/start_vlc.sh
KillMode=mixed
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
